<div class="form-bg">
<div class="container py-6">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-grey rounded p-4 ">

          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <div class="btn btn-outline-success m-2 btn-sm">
              <%= f.button :submit, "Activate Account" %>
            </div>
            </div>

            <%= render "devise/shared/links" %>

            <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
