<ul>
  <% @dogs.each do |dog| %>
    <h3><%= dog.name %></h3>
    <li><%= dog.breed %></li>
    <li><%= dog.age %></li>
    <li><%= dog.price %></li>
    <li><%= link_to "Show more", dog_path(dog) %></li>
  <% end %>
</ul>

<h3><%= link_to "Go back", root_path %></h3>
