<div class="title text-center p-2">
<h2>Your booking request has been sent &#128054;</h2>
<h3>The owner received a message and will get back to you shortly!</h3>

</div>
<div class="content content d-flex justify-content-center">

<div class="checkmark">
</div>

  <div class="card d-inline-flex p-2 m-2 text-center" style="width: 18rem;">
    <h3><%= dog.name %></h3>
    <h5><%= dog.breed %></h5>
    <h6>Age: <%= dog.age %></h6>
    <h6>€ / h: <%= dog.price %></h6>
    <p><%= link_to "Show more", dog_path(dog), :class => "btn btn-success"%></p>
  </div>
  <% end %>
</ul>
</div>
